*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 6px;
}

header{
    padding:16px;
}

.col-lg-4{
    margin-bottom: 10px;
    padding: 16px;
}

.container{
    justify-content: center;
    align-items: center;
}

.container-card{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
